body {
	background: #373737;
}
.scroller-wrapper {
	z-index: 1;
	width: 100%;
	overflow: hidden;
}

.scroller {
	height: 100%;
}

.scroller ul {
	width: 100%;
	height: 100%;
	text-align: center;
}
p {
	text-align: justify;
}

.ui-page {
	margin: 0;
	padding: 0;
	background: #373737;
}
.hIcon {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
}
ul.papers, ul.papers2 {
	margin: 0;
	padding: 0;
	float: left;
	display: none;
}
ul.papers li, ul.papers2 li {
	list-style: none;
	float: left;
	width: 130px;
	height: 236px;
	margin: 0 12px;
}

ul.papers li img, ul.papers2 li img {
	width: 130px;
	height: 196px;
	-webkit-box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.75);
	box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.75);
}
#home .box h1.hbox {
	color: #FFF;
	direction: rtl;
	font-size: 18px;
	background: url("../images/top.png");
	width: 239px;
	text-align: center;
	height: 40px;
	line-height: 30px;
	float: right;
	position: absolute;
	margin-top: -35px;
	z-index: 10;
	left: 100%;
	margin-left: -254px;
}
ul.papers li h1, ul.papers2 li h1 {
	font-size: 12px !important;
	color: #f4f4f4;
	text-align: center;
	background: none !important;
}
#home .box {
	height: 230px;
	padding-top: 30px;
	width: 100%;
	margin-bottom: 10px;
	background: #232323;
	overflow: hidden;
	-webkit-box-shadow: 8px 8px 7px rgba(50, 50, 50, 1);
	-moz-box-shadow:    8px 8px 7px rgba(50, 50, 50, 1);
	box-shadow:         8px 8px 7px rgba(50, 50, 50, 1);
}
#side-pages {
	width: 25%;
	position: absolute;
	top: 0;
	float: right;
	right: 0;
	background: #232323;
	-webkit-box-shadow: 8px 8px 7px rgba(50, 50, 50, 1);
	-moz-box-shadow:    8px 8px 7px rgba(50, 50, 50, 1);
	box-shadow:         8px 8px 7px rgba(50, 50, 50, 1);
	overflow: hidden;
}
#side-pages ul {
	margin: 0;
	padding: 0;
}
#side-pages ul li {
	list-style: none;
	padding:10px;
	text-align: center;
}
#side-pages ul li img {
	max-width: 100%;

}
#side-pages ul li h1 {
	font-size: 12px !important;
	color: #f4f4f4;
	text-align: center;
	background: none !important;
}
#main-pages {
	width: 73%;
	background: #232323;
	position: absolute;
	top: 0;
}
#main-pages ul.titles {
	margin: 0;
	padding: 0;
}
#main-pages ul.titles li {
	direction: rtl;
	list-style: none;
	font-size: 16px;
	color: #F1F1F1;
	padding: 5px;
 	text-shadow: 0 1px 0 #FFFFFF;
 	display: block;
    padding: 0.7em 15px;
    direction: rtl;
    background: #0e0e0e; /* Old browsers */
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
#main-pages ul.titles li:hover,
#main-pages ul.titles li:active {
	background: #F1F1F1;
	color: #111111;
}
#anews #box-news h2 {
	direction: rtl;
	color: #FFF;
	font-size: 16px;
}
#anews #box-news {
	color: #FFF;
	font-size: 14px;
	line-height: 2;
	
	position: absolute;
	overflow: hidden;
	height: 89%;
	margin-right: 10px;
}
#anews #box-news h1 {
	direction: rtl;
	color: #FFF;
	font-size: 24px;
}
#anews #box-news .main-img {
	float: left;
	margin: 10px;
	max-width: 80%;
}
